name: Publish package

on:
  release:
    types:
      - published
    
env:
  name: ${{ github.event.repository.name }}

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get clean version
        run: |
          echo cleanVersion=$(echo ${{ github.ref_name }} | sed s/v//g) >> $GITHUB_ENV
      - name: Check that version matches
        run: |
          if [[ "$(grep -Po "\d+\.\d+\.\d+" $(find ./ -name mod.json))" != "$cleanVersion" ]]; then
            echo "::debug::$cleanVersion"
            echo "::debug::$(cat $(find ./ -name mod.json ))"
            echo "::error::Version in mod.json does not match tag version"
            exit 1
          fi
  publish:
    runs-on: ubuntu-latest
    needs: verify
    steps:
      - uses: actions/checkout@v4
      - name: Upload Thunderstore Package
        uses: GreenTF/upload-thunderstore-package@v4.3
        with:
          community: northstar

          namespace: ASillyNeko

          name: Discord_To_Titanfall_Bridge

          version: ${{ github.ref_name }}

          description: Bridges Discord And Titanfall 2 Messages

          token: ${{ secrets.TS_KEY }} 

          wrap: mods/Nekos.Discord_To_Titanfall_Bridge

          repo: northstar.thunderstore.io

          categories: |
            mods 
            server-side
            language-en